:root {
  --color-black: #000;
  --color-whiter: #fff;
  --color-green: #7cfc00;
  --color-orange: #ff8c00;
  --color-gray: #2c2c2c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Jost", sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: var(--color-black);
  transition: background 0.2s linear;
}

body.dark {
  --color-black: #fff;
  --color-whiter: #000;
  --color-green: #7cfc00;
  --color-orange: #ff8c00;
  --color-gray: #cccccc;

  transition: background 0.2s linear;
}

.cupom-text {
  position: flex;
  width: 100%;
  background-color: var(--color-whiter);
  text-align: center;
}

.cupom-text p {
  color: var(--color-black);
  text-transform: capitalize;
}

#navbar {
  position: fixed;
  width: 100%;
  right: 50;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  height: 110px;
  transition: all 0.42s;
}

.navmenu {
  display: flex;
}

.navmenu a {
  color: var(--color-whiter);
  font-size: 20px;
  text-transform: capitalize;
  padding: 10px 20px;
  font-weight: 400;
  transition: all 0.42s ease;
  align-items: center;
}

.navmenu a:hover {
  color: var(--color-green);
}

.logo img {
  max-width: 150px;
  height: auto;
  text-align: center;
}

.nav-icon {
  display: flex;
  align-items: center;
}

.nav-icon i {
  margin-right: 20px;
  color: var(--color-whiter);
  font-size: 25px;
  font-weight: 400;
  transition: all 0.42s ease;
}

.nav-icon i:hover {
  transform: scale(1.1);
  color: var(--color-green);
}

#menu-icon {
  display: none;
  font-size: 35px;
  color: var(--color-whiter);
  z-index: 10001;
  cursor: pointer;
}

#login-mobile {
  display: none;
}

section {
  padding: 3% 10%;
}
header.sticky {
  background: var(--color-black);

  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}
/* main-section */

/* CSS para o campo de entrada de busca */

/* todos-os-produtos-css*/
.center-text h1 {
  color: var(--color-whiter);
  font-size: 40px;
  text-transform: capitalize;
  text-align: left;
  margin-bottom: 30px;
}

.center-text h2 {
  color: var(--color-whiter);
  font-size: 28px;
  text-align: left;
  margin-bottom: 30px;
}

.center-text p {
  color: var(--color-whiter);
  font-size: 18px;
  text-align: left;
  margin-bottom: 30px;
}

.center-text span {
  color: var(--color-green);
}

.pessoas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, auto));
  gap: 2rem;
}

.row {
  position: relative;
  transition: all 0.4s;
}

.row img {
  width: 100%;
  height: auto;
  transition: all 0.4s;
  border-radius: 50%;
}

.row img:hover {
  transform: scale(0.9);
}

.product-text h5 {
  position: absolute;
  top: 13px;
  left: 13px;
  color: var(--color-whiter);
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: var(--color-green);
  padding: 3px 10px;
  border-radius: 2px;
}

.nome-matricula h4 {
  text-align: center;
  color: var(--color-whiter);
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 400;
}

.nome-matricula p {
  text-align: center;
  color: var(--color-whiter);
  font-size: 14px;
  font-weight: 600;
}

/* contact-section */
.contact {
  background-color: var(--color-gray);
}

.contact-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, auto));
  gap: 3rem;
}

.first-info img {
  width: 100px;
  height: auto;
}

.contact-info h4 {
  color: var(--color-whiter);
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.contact-info p {
  color: var(--color-whiter);
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1.5;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.42s;
}

.contact-info p:hover {
  color: var(--color-green);
}

.social-icon i {
  color: var(--color-green);
  margin-right: 10px;
  font-size: 20px;
  transition: all 0.42s;
}

.social-icon i:hover {
  transform: scale(1.3);
}

.end-text {
  background-color: var(--color-whiter);
  text-align: center;
  padding: 10px;
}

.end-text p {
  color: var(--color-black);
  text-transform: capitalize;
}

/* Responsive-css */
@media screen and (max-width: 768px) {
  .navmenu {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 100%;
    height: 130vh;
    background: var(--color-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 30px;
    transition: 0.2s linear;
    opacity: 90%;
  }

  .navmenu a {
    display: block;
    margin: 18px 0;
  }

  .navmenu.open {
    right: 0;
  }

  #menu-icon {
    display: flex;
  }

  #mode_icon {
    display: block;
  }

  #icon-0 {
    display: none;
  }

  .down {
    display: none;
  }

  #login-mobile {
    display: flex;
  }
  .container {
    display: block;
    justify-content: center;
    width: 100%;
  }

}

@media (max-width: 630px) {
}

@media (max-width: 480px) {
  .logo img {
    max-width: 130px;
    height: auto;
  }
}
